.signup-box {
    -fx-background-color: #c6e8ff;
    -fx-background-radius: 20;
    -fx-border-width: 2px;
    -fx-border-color: #567c9a;
    -fx-border-radius: 20;
}

.back-button{
    -fx-background-color: #ffff;
    -fx-background-radius: 20;
    -fx-border-width: 2px;
    -fx-border-color: #567c9a;
    -fx-border-radius: 20;
}
.text-field{
    -fx-background-radius: 50;
}